.preview-wrapper {
  position: relative;
  flex-grow: 1;
}

.preview-wrapper iframe {
  background-color:white;
  border-radius: 0 10px 0 0;
  /* width: 100%; */
  height: 100%;
}

/* Create DOM element that goes on top of the iframe -> Fixes resize bug */
.react-draggable-transparent-selection .preview-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}