.preview {
  cursor: pointer;
   height: calc(100% - 10px);
  }
  
.wmde-markdown {
  cursor: pointer;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  background-color: #0d1117;
}

.text-editor {
  border: none;
  background: none;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  height: 11px;
  cursor: row-resize;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  position: relative;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.w-md-editor-toolbar ul  {
  padding-right: 100px;
}